html {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
}
.outline {
    stroke-width: 1px;
    stroke: #2b1c16;
    fill: none;
}
#map{
    background-color: #f7ead7;
    min-width: 400px;
}
.tool{
    background-color: white;
    border: 1px solid black;
    opacity: 0.8;
    position: relative;
    min-width: 100px;
    max-width: 300px;
    /* height:100px; */
    border-radius: 10px;
    top: 490px;
    left: 10px;
    margin-top:-60px;
}
.tooltip{
    text-align: center;
    height: 25px;
    line-height: 25px;
    margin-top: 0;
    /* font-variant: all-small-caps; */
}
div.content{
    display: flex;
}
.label{
    font-size: 9pt;
    text-align: center;
    margin-bottom: 0;
}
#house-tip{
    background-color: white;
    border: 1px solid black;
    opacity: 0.8;
    position: absolute;
    font-size: 9pt;
    padding:2px 5px;
}
#house-tip p{
    margin: 0;
}

#house-detail {
    border: 1px dashed red
}

.filterlabel{
    margin-left: 10px;
    margin-bottom: 5px;
}

#filters {
    background-color:#f7f7f7;
    border-radius: 10px;
    height: 200px;
    margin-left: 20px;
    margin-top: 5px;
    width: 500px;
    padding: 10px;
    padding-left: 20px;
    height: 490px;
}
